.App {
}

.App-title {
    padding-left: 10px;
    color: white !important;
    font-size: 3em;
}

.App-intro {
    color: white;
    font-size: large;
}

/* General */

.navbar-element {
    color: white !important;
    font-size: large;
}

.query-text-area {
    background-color: #2b2727 !important;
    color: #ffa54c !important;
    font-size: medium;
    resize: none;
}

div.common-div {
    margin-left: 5%;
    margin-top: 5%;
    width: 55%;
    left: 37%;
}

label.common-label {
    font-family: 'Open Sans';
    font-size: large;
    color: black;
    text-align: left;
    float: left;
}

.common-button {
    font-size: 1.4em;
    margin: 10px 10px 40px;
}

/* Login panel */

.login-background {
    height:100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ffdab3, #e6ffe6, #ffffe6, #ccffff);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.login-div {
    background: white;
    padding: 40px 80px;
    width: 500px;
    margin: 100px auto 0;;
    text-align: center;
}

.login-input {
    resize: none;
    font-size: small;
    margin-bottom: 20px;
}

.sign-up-input {
    resize: none;
    font-size: small;
    margin-bottom: 10px;
}

.login-introduction-text {
    color: black;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    right: 40%;
    left: 40%;
    font-size: 1.4em;
}

.login-caption-div {
    position: absolute;
    left:46%;
    bottom: 2%;
}

.login-caption-text {
    color: black;
    font-family: 'Open Sans';
    font-size: small;
    margin-left: 7px;
}

.login-invalid-credentials {
    color: red;
    font-family: 'Open Sans';
    font-size: small;
}

/* Exercise creation panel */

.input-text {
    font-size: medium;
}

/* Exercise resolution panel */

div.exercise-resolution-div {
    overflow: hidden;
}

.exercise-resolution-divider {
    height: 1px;
    width: 100%;
    display: block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #2b2727;
}

div.exercise-resolution-inner-div {
    float: left;
    width: 50%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
