.App {
    text-align: center;
}

.App-title {
    padding-left: 10px;
    color: white !important;
    font-size: 3em;
}

.App-intro {
    color: white;
    font-size: large;
}

/* General */

.navbar-element {
    color: white !important;
    font-size: 2.2em;
}

/* Exercise creation panel */

.input-text{
    font-size: medium;
}

.query-text-area{
    background-color:#2b2727 !important;
    color: #ffa54c !important;
    font-size: medium;
}

div.common-div {
    position: absolute;
    width: 1000px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -500px;
}

label.common-label {
    font-size: large;
    color: white;
    text-align: left;
    float: left;
}

.common-button {
    font-size: large;
    margin: 10px 10px 40px;
}

/**/


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
